<article class="post-item" role="article">
	<div class="post-item__post-meta">
		<span class="post-item__post-date" aria-label="Post Date">{{ post.date | date: date_format }}</span>
		{%- if post.category -%}
		<span class="post-item__post-category" aria-label="Post Date">{{ post.category }}</span>
		{%- endif -%}
	</div>

	<h3 class="post-item__title">
		<a class="post-item__link" href="{{ post.url | relative_url }}">
			{{ post.title | escape }}
		</a>
	</h3>

	{%- if site.show_excerpts -%}
	<div class="post-item__excerpt">
		{{ post.excerpt }}
	</div>
	{%- endif -%}
</article>
