$small: "only screen and (max-width: 319px)";
$mobile: "only screen and (min-width: 320px)";
$tablet: "only screen and (min-width: 540px)";
$desktop: "only screen and (min-width: 768px)";
$large: "only screen and (min-width: 896px)";
$xlarge: "only screen and (min-width: 1280px)";
$xxlarge: "only screen and (min-width: 1440px)";
