body {
	margin: 0;
}

header {
	background-color: #333;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

.site-header__nav {
	display: flex;
}

.site-header__nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.site-header__nav li {
	margin-right: 20px;
}

.site-header__nav a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

.site-header__menu-toggle {
	display: none; /* Initially hide on desktop */
	cursor: pointer;
	font-size: 1.5rem;
}

/* Media query for mobile responsiveness */
@media screen and (max-width: 768px) {
	.site-header__nav {
		display: none; /* Hide on mobile initially */
		flex-direction: column;
		position: absolute;
		top: 60px; /* Adjust as needed based on your header height */
		left: 0;
		width: 100%;
		background-color: #333;
	}

	.site-header__nav[aria-hidden="false"] {
		display: flex;
	}

	.site-header__nav li {
		margin: 0;
		text-align: center;
		padding: 10px;
	}

	.site-header__menu-toggle {
		display: block; /* Show on mobile */
	}
}


/* WIP social links */
svg {
	width: 1.5rem;
	height: 1.5rem;
	display: inline-block;
	vertical-align: text-bottom;
}

/* TODO: site footer */
.site-footer {
	background-color:var(--c-highlight);
}
