/**
 * Theme Variables
 */
:root {

	/* Named Colors */
	/* #000000 */ --color-black: #000;
	/* #0a0b0a */ --color-log-cabin: hsl(120, 3%, 4%);
	/* #121412 */ --color-heavy-metal: hsl(120, 6%, 7.5%);
	/* #272527 */ --color-thunder: hsl(300, 2%, 15%);
	/* #305030 */ --color-tom-thumb: hsl(120, 25%, 25%);
	/* #423e42 */ --color-tundora: hsl(300, 3%, 25%);
	/* #53c653 */ --color-apple: hsl(120, 50%, 55%);
	/* #6c936c */ --color-laurel: hsl(120, 15%, 50%);
	/* #7d827d */ --color-xanadu: hsl(120, 2%, 50%);
	/* #e7e4e7 */ --color-bon-jour: hsl(300, 3%, 90%);

	/* Color contexts */
	--c-background: var(--color-heavy-metal);
	--c-site-header: var(--color-log-cabin);
	--c-text: var(--color-bon-jour);
	--c-link: var(--color-laurel);
	--c-link-hover: var(--color-apple);
	--c-highlight: var(--color-tom-thumb);

	/* Font Sizes */
	--fs-xxsmall: 0.875rem; // 14px
	--fs-xsmall: 1rem; // 16px
	--fs-small: 1.125rem; // 18px
	--fs-medium: 1.25rem; // 20px
	--fs-large: 1.375rem; // 22px
	--fs-xlarge: 1.5rem; // 24px
	--fs-xxlarge: 2rem; // 32px

	/* Spacing Values */
	--space-xxsmall: 0.25rem; // 4px
	--space-xsmall: 0.5rem; // 8px
	--space-small: 0.75rem; // 12px
	--space-default: 1rem; // 16px
	--space-medium: 1.5rem; // 24px
	--space-large: 3rem; // 48px
	--space-xlarge: 4.5rem; // 72px
	--space-xxlarge: 6rem; // 96px

	/* Borders */
	--border-hr: 2px solid var(--color-thunder);
	--border-layout: 2px solid var(--color-tundora);
	--border-line: 2px solid var(--c-text);
	--border-ui: 1px solid var(--color-xanadu);

	/* Fonts */
	--ff-monospace: Monaco, Consolas, "Lucida Console", "Courier New", Courier, monospace;
	--ff-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

	/* Transitions */
	--ts-xfast: 125ms;
	--ts-fast: 250ms;
	--ts-default: 350ms;
	--ts-slow: 500ms;
	--ts-xslow: 750ms;
	--ts-xxslow: 1000ms;

	/* Line Height */
	--lh-small: calc(4 / 3); /* 1.333 */
	--lh-medium: calc(4.2 / 3); /* 1.4 */
	--lh-large: calc(4.5 / 3); /* 1.5 */
	--lh-xlarge: calc(5 / 3); /* 1.666 */

	/* TODO: Organize the other variables. */
	--mw-site-layout: calc(54rem + var(--space-large)); // 54rem + 3rem (half site footer padding)
	--size-logo-desktop: 3rem; // 48px
	--size-offset: 0.075em;
	--size-site-header: 5.25rem; // 82px + 2px border-layout.
	--underline-thickness: 0.1em;
	--viewport-width: 100vw; // Updated for scrollbar via setViewportWidth() JS.
}

/**
 * Theme Colorway Variables
 */

/* Light Green */
[data-theme-color="light-green"] {

	--color-gray-nurse: hsl(120, 6%, 92.5%); // #ebedeb
	--color-thunder: hsl(300, 6%, 10%); // #1b181b
	--color-spring-rain: hsl(120, 25%, 75%); // #afcfaf

	--c-background: var(--color-gray-nurse);
	--c-text: var(--color-thunder);
	--c-link: var(--color-laurel);
	--c-link-hover: var(--color-apple);
	--c-highlight: var(--color-spring-rain);
}

/* Dark Red */
[data-theme-color="red"] {
	--color-cod-gray: hsl(300, 6%, 7.5%); // #141214
	--color-gray-nurse: hsl(120, 6%, 90%); // #e4e7e4
	--color-fuchsia-pink: hsl(300, 50%, 55%); // #c653c6
	--color-strikemaster: hsl(300, 15%, 50%); // #936c93
	--color-eggplant: hsl(300, 25%, 25%); // #503050

	--c-background: var(--color-cod-gray);
	--c-text: var(--color-gray-nurse);
	--c-link: var(--color-strikemaster);
	--c-link-hover: var(--color-fuchsia-pink);
	--c-highlight: var(--color-eggplant);
}

/* Light Red */
[data-theme-color="light-red"] {
	--color-fuchsia-pink: hsl(300, 50%, 45%); // #ac39ac
	--color-lilac: hsl(300, 25%, 75%); // #cfafcf
	--color-strikemaster: hsl(300, 15%, 50%); // #936c93

	--c-background: var(--color-bon-jour);
	--c-text: var(--color-heavy-metal);
	--c-link: var(--color-strikemaster);
	--c-link-hover: var(--color-fuchsia-pink);
	--c-highlight: var(--color-lilac);
}
