.site-main {
	display: block;
	font-size: clamp(var(--fs-medium), 2vw, var(--fs-large));
	font-weight: 400;
	line-height: var(--lh-medium);
	margin: 0 0 var(--space-large);
	width: var(--viewport-width);
}

.site-main__wrapper {
	@include wrapper;
	padding-top: var(--space-large);
}
