.blog__title {
	border-bottom: var(--border-layout);
	letter-spacing: var(--ls-medium);
	margin-bottom: var(--space-medium);
	padding-bottom: var(--space-medium);
}

.blog__posts {
	@include end-of-page;
}

.blog__posts-title {
	@include screen-reader-text;
}

.blog__post-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.blog__post-item {
	margin-bottom: var(--space-large);

	&:last-child {
		margin-bottom: 0;
	}
}
