.resume__header {
	border-bottom: var(--border-layout);
	margin-bottom: var(--space-medium);
	padding-bottom: var(--space-medium);

	@media #{$tablet} {
		align-items: flex-end;
		display: flex;
	}
}

.resume__title {
	letter-spacing: var(--ls-small);
	margin-bottom: var(--space-small);

	@media #{$tablet} {
		margin-bottom: 0;
	}
}

.resume__header-links {
	@include footer-links;
	display: inline-grid;

	& a {
		padding: var(--space-small) var(--space-default);
	}

	@media #{$tablet} {
		margin-left: auto;
		margin-bottom: var(--space-xxsmall);
	}
}

.resume__content {
	@include content;
	@include end-of-page;

	& h2 {
		border-bottom: var(--border-hr);
		margin-bottom: var(--space-small);
		margin-top: var(--space-large);
		padding-bottom: var(--space-small);
	}
}

.resume__skills {
	margin-bottom: var(--space-xsmall);

	@media #{$tablet} {
		columns: 2;
	}

	& h3,
	& p {
		break-inside: avoid;
	}

	& h3 {
		break-after: avoid;
		font-size: var(--fs-large);
		margin-bottom: var(--space-xsmall);
		margin-top: var(--space-medium);

		&:first-child {
			margin-top: 0;
		}
	}

	& p {
		font-size: var(--fs-small);
		line-height: var(--lh-medium);
		margin-bottom: var(--space-small);

		@media #{$desktop} {
			font-size: var(--fs-medium);
		}
	}
}

.resume__experience,
.resume__education {

	& h3 {
		font-size: var(--fs-large);
		margin-bottom: var(--space-xxsmall);
		margin-top: var(--space-medium);
	}

	& p {
		font-size: var(--fs-small);
		line-height: var(--lh-medium);
		max-width: 34rem;

		@media #{$desktop} {
			font-size: var(--fs-medium);
		}
	}

	& em {
		display: block;
		font-size: var(--fs-xsmall);
		margin-bottom: var(--space-small);
	}

	& em + em {
		margin-top: calc(-1 * var(--space-xxsmall));
	}
}

.resume__extras {

	& p {
		font-size: var(--fs-small);
		line-height: var(--lh-medium);
	}
}

.resume__footer-links {
	@include footer-links;
}
