<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}" data-reduce-motion="{{ site.reduce_motion | default: false | jsonify }}" data-theme-color="{{ site.theme_color | default: 'dark-green' }}">

<link rel="stylesheet" href="{{ " /assets/css/style.css" }}">

{%- include head.html -%}

<body>

	<div class="site" id="site">

		{%- include site-header.html -%}

		{%- include site-main.html -%}

		{%- include site-footer.html -%}

	</div>

	<script src="{{ site.baseurl }}/assets/js/script.js" defer></script>

</body>

</html>
