<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}" data-reduce-motion="{{ site.reduce_motion | default: false | jsonify }}" data-theme-color="{{ site.theme_color | default: 'dark-green' }}">

{%- include head.html -%}

<body data-nav-hidden="true" class="site" id="site">

	{%- include site-header.html -%}

	{%- include site-main.html -%}

	{%- include site-footer.html -%}

	<script src="{{ site.baseurl }}/assets/js/script.js" type="module" defer></script>

</body>

</html>
