---
layout: default
---

<div class="resume">

	<header class="resume__header">
		<h1 class="resume__title">
			{{ page.title | escape }}
		</h1>
		<div class="resume__header-links"><a href="/assets/Ian Del Giudice - Web Developer Resume.pdf" target="_blank" rel="noopener noreferrer">PDF</a></div>
	</header>

	<div class="resume__content">

		<p>Full-stack web developer since 2009, with 11 years experience working at WordPress VIP partner agencies.</p>

		<h2>Skills</h2>

		<div class="resume__skills">

			<h3>Javascript</h3>
			<p>Native JS & ESNext. React & JS frameworks, Typescript, and NextJS. Single page applications. Some Postgres, Prisma, GraphQL, and Angular. 10 years JS experience.</p>
			<h3>WordPress</h3>
			<p>Custom WordPress theme & plugin development for enterprise clients. Custom Gutenberg blocks, headless WP, REST API, and theme.json. 15 years PHP experience.</p>
			<h3>Stylesheets</h3>
			<p>Lean, performant, and organized CSS. Styled components and design systems. PostCSS & SCSS, Webpack & Stylelint config.</p>
			<h3>Markup</h3>
			<p>Semantic, WCAG accessible HTML. Template components in JSX, PHP, or Liquid.</p>
			<h3>Tech-Lead</h3>
			<p>Functional requirements & estimates, software architecture, code review & deployments. Leading engineering teams. Tooling & utilities.</p>
			<h3>Design</h3>
			<p>User experience feedback, feasibility reviews. Implementing Figma, InVision mock-ups. Icon & Logo Design. Skilled with Adobe Illustrator, Photoshop and InDesign.</p>
		</div>

		<h2>Experience</h2>

		<div class="resume__experience">
			<h3>10up, Inc.</h3>
			<em>Front-End Engineer. Feb 2019 &ndash; Nov 2023, 4yr 10mo</em>
			<p>As a Senior Front-End Engineer, I led project teams at a fully-distributed WordPress VIP partner agency, creating distinctive and fully customized user experiences for the web.</p>
			<p>As a Full-Stack Engineer, I developed enterprise-scale websites & applications with WordPress plugins & themes, React, Headless WP, TypeScript, NextJS, and Gutenberg. Delivering projects for GE, Hilton, CA.gov, T-Mobile, and more.</p>
			<p>As a Project Tech Lead, I coordinated with clients, co-workers, and other stakeholders to write functional requirements, meet deadlines, guide technical architecture, and lead front-end engineering build teams.</p>

			<h3>Alley Interactive</h3>
			<em>UX Developer. Dec 2014 &ndash; Jun 2018, 3yr 7mo</em>
			<p>Collaborated with a remote scrum/agile team to build, maintain, and optimize some of the busiest news sites at a top WordPress VIP partner agency. As a project tech lead, I worked with ES6, PostCSS & SCSS, Webpack, React, Angular, in-browser prototyping, tooling & build configs, and styleguide generators.</p>

			<h3>Oomph, Inc.</h3>
			<em>Front-End Developer. Jul 2012 &ndash; Feb 2014, 1yr 7mo</em>
			<p>Worked with project teams for clients at a WordPress VIP partner agency. Projects included custom theme development for Drupal and WordPress, and JavaScript plugins for infographics and scroll effects.</p>

			<h3>eMagine Communications</h3>
			<em>Website Maintenance. Mar 2010 &ndash; Mar 2012, 2yr 5mo</em>
			<p>Managed the maintenance desk. Answered client help requests, fixed bugs, added features & enhancements, and built new themes. WordPress, Joomla, and .NET</p>
		</div>

		<h2>Education</h2>

		<div class="resume__education">
			<h3>Rhode Island College</h3>
			<em>Graphic Communications, Jan 2008 &ndash; Jan 2010</em>
			<p>Pursued a BA in Graphic Communications. Course work included graphic design, prepress layouts &amp; graphics, web development, and media literacy.</p>
		</div>
	</div>

	<footer class="resume__footer">
		<nav class="resume__footer-links">
			<a class="resume__footer-link" rel="home" href="{{ "/" | relative_url }}">Home</a>
			<a class="resume__footer-link" href="/assets/Ian Del Giudice - Web Developer Resume.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
			<a class="resume__footer-link" href="{{ "/contact/" | relative_url }}">Hire Me</a>
		</nav>
	</footer>
</div>
