---
layout: default
---

<div class="resume">

	<header class="resume__header">
		<h1 class="resume__title">
			{{ page.title | escape }}
		</h1>
		<div class="resume__header-links"><a href="/assets/Ian Del Giudice - Web Developer Resume.pdf" target="_blank" rel="noopener noreferrer">PDF</a></div>
	</header>

	<div class="resume__content">

		<p>Full-stack web developer since 2009, with 11 years experience working at WordPress VIP partner agencies.</p>

		<h2>Skills</h2>

		<div class="resume__skills">
			<h3>Javascript</h3>
			<p>Native JS &amp; ESNext. React &amp; JS frameworks, Typescript. Also some nodeJS, Angular, Vercel &amp; GraphQL. 10 years JS experience.</p>

			<h3>Styles</h3>
			<p>Organized, optimized and performant CSS. PostCSS &amp; SCSS preprocessors, Webpack &amp; npm.</p>

			<h3>WordPress</h3>
			<p>Enterprise WordPress theme &amp; plugin development, custom Gutenberg blocks, Headless WP, and theme.json. 15 years PHP experience.</p>

			<h3>HTML</h3>
			<p>Semantic, WCAG accessible markup. JSX/PHP/Liquid template components.</p>

			<h3>Design</h3>
			<p>Implementing Figma design mock-ups. Skilled with Illustrator, SVGs, and Photoshop.</p>

			<h3>Codebase Admin</h3>
			<p>Version control with Git. Code standards &amp; review, testing, linters, and deployments.</p>

			<h3>Project Leadership</h3>
			<p>Technical architecture, project scope &amp; estimate documents, team &amp; client collaboration.</p>
		</div>

		<h2>Experience</h2>

		<div class="resume__experience">
			<h3>10up, Inc.</h3>
			<em>Front-End Engineer, Feb 2019 &ndash; Nov 2023</em>
			<p>Led project teams at a fully-distributed WordPress VIP agency. As a senior front-end engineer I regularly worked with WP plugins &amp; themes, React, NextJS, TypeScript, custom Gutenberg Blocks, and Headless WP to deliver high quality and fully customized web applications for enterprise clients with tight timelines and budgets, while contributing to internal tooling.</p>

			<h3>Alley Interactive</h3>
			<em>UX Developer, Dec 2014 &ndash; Jun 2018</em>
			<p>Collaborated with a remote scrum/agile team to build and maintain enterprise-scale themes &amp; plugins for a WordPress VIP partner agency. As a project tech lead, we utilized CSS Preprocessors, ES6, Webpack, React, Angular, and rapid in-browser prototyping.</p>

			<h3>Oomph, Inc.</h3>
			<em>Front-End Developer, Jul 2012 &ndash; Feb 2014</em>
			<p>Worked with several small project teams at a WordPress VIP partner agency. Tasks involved custom theme &amp; plugin development for WordPress and Drupal sites.</p>

			<h3>eMagine Communications</h3>
			<em>Website Maintenance, Mar 2010 &ndash; Mar 2012</em>
			<p>Responsible for servicing client requests for website updates, improvements, and providing support for WordPress, Joomla, and .NET projects.</p>
		</div>

		<h2>Education</h2>

		<div class="resume__education">
			<h3>Rhode Island College</h3>
			<em>Graphic Communications, Jan 2008 &ndash; Jan 2010</em>
			<p>Pursued a BA in Graphic Communications. Course work included graphic design, prepress layouts &amp; graphics, web development, and media literacy.</p>
		</div>

		<h2>Extras</h2>

		<div class="resume__extras">
			<p>Web development is also a hobby, and <a class="home__footer-link" href="{{ "/portfolio/" | relative_url }}">my portfolio</a> shows off some code projects. I've climbed most of my Catskill 3500 Peaks, and working on the ADK 46ers. When I have time off, I enjoy multi-day camping &amp; backpacking trips. Up until 2017, I also worked in nightlife; producing &amp; promoting events, DJing, and holding several residencies over 5 years.</p>
		</div>
	</div>

	<footer class="resume__footer">
		<nav class="resume__footer-links">
			<a class="resume__footer-link" rel="home" href="{{ "/" | relative_url }}">Home</a>
			<a class="resume__footer-link" href="/assets/Ian Del Giudice - Web Developer Resume.pdf" target="_blank" rel="noopener noreferrer">PDF</a>
			<a class="resume__footer-link" href="{{ "/contact/" | relative_url }}">Hire Me</a>
		</nav>
	</footer>
</div>
